.detail {
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sort {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.shape {
    width: 500px;
    height: 700px;
    /* border: 1px solid white; */
    margin: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 25px;
    line-height: 40px;
    word-wrap: break-word;
    white-space: normal;
    
}